<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{# TODO: Create favicon image asset and link to it  #}
		<link rel="icon" href="" />
		<link rel="stylesheet" href="./output.css"/>
		<title>{{ site.siteTitle }} - {{ title }}</title>
	</head>
	<body>
		{# TODO: Modify mobile view of Button to open Nav Menu #}
		<div class="drawer lg:drawer-open">
		  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
		  <div class="drawer-content flex flex-col items-center justify-center bg-base-200">
			<!-- Page content here -->
			<label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>

			{{ content | safe }}

			{% include "components/footer.njk" %}
		  </div>
		  <div class="drawer-side">
		  	{% include "components/nav.njk" %}
		  </div>
		</div>
	</body>
</html>
