<footer class="footer items-center p-4 bg-base-100 text-base-content">
  <div class="items-center grid-flow-col">
    <img src="../../../assets/dm-logo.webp" class="w-12" />
    <p>Copyright © 2023 - All right reserved</p>
  </div>
</footer>
