<nav>
  <label for="my-drawer-2" class="drawer-overlay"></label>
  <ul class="menu p-4 w-80 h-full bg-base-100 text-base-content rounded-box">
    <!-- Sidebar content here -->
    {%- for entry in collections.all | eleventyNavigation %}
    <li>
      <a class="btn btn-ghost normal-case text-xl" href="{{entry.url}}">
        {{entry.key}}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>
