<aside class="drawer-side max-w-xs sticky">
	<div class="p-5">
		<img src="../../../assets/dm-logo.webp" class="mx-auto w-24" />
		<h2 class="text-center py-6 text-primary text-xl">Dan Mayer</h2>
		<p class="text-center">Words - Coherent or Otherwise | Photos Shot in Portait Mode | Tech Comments & Criticisms | Web & Apple Development | Music Creation & Consumption | Analog & Digital Games</p>
	</div>

	{% include "components/nav.njk" %}
</aside>
